/* ===================
   ANDY BELLS' RESET 
   =================== */
/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Prevent font size inflation */
html {
  -moz-text-size-adjust: none;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
* {
  margin: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role=list],
ol[role=list] {
  list-style: none;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  line-height: 1.5;
}

/* Set shorter line heights on headings and interactive elements */
h1,
h2,
h3,
h4,
button,
input,
label {
  line-height: 1.1;
}

/* Balance text wrapping on headings */
h1,
h2,
h3,
h4 {
  text-wrap: balance;
}

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto;
  color: currentColor;
}

/* Make images easier to work with */
img,
picture {
  max-width: 100%;
  display: block;
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

/* Make sure textareas without a rows attribute are not tiny */
textarea:not([rows]) {
  min-height: 10em;
}

/* Anything that has been anchored to should have extra scroll margin */
:target {
  scroll-margin-block: 5ex;
}

/* Styles for the whole page */
body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Rubik", serif;
  color: hsl(0, 0%, 100%);
  padding: 5rem 1.5rem;
  background-color: hsl(226, 43%, 10%);
}

/* Hidden Page Title */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* Styles for the Dashboard */
.dashboard {
  display: grid;
  gap: 1.4375rem;
  max-inline-size: 20.4375rem;
}
@media (min-width: 48em) {
  .dashboard {
    max-inline-size: 42.875rem;
    grid-template-columns: repeat(auto-fit, minmax(20.625rem, 1fr));
    grid-template-areas: "member member" "work play" "study exercise" "social self-care";
    gap: 1.625rem;
  }
}
@media (min-width: 75em) {
  .dashboard {
    max-inline-size: 69.375rem;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "member work play study" "member exercise social self-care";
    gap: 1.875rem;
  }
}

/* Styles for the Member Card */
.member {
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.9375rem;
}
@media (min-width: 48em) {
  .member {
    grid-area: member;
  }
}
@media (min-width: 75em) {
  .member {
    grid-area: member;
  }
}

/* Styles for the Member Card Content */
.member__content {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem 2.5rem 2rem 1.875rem;
  background-color: hsl(246, 80%, 60%);
  border-radius: 0.9375rem;
  gap: 1rem;
}
@media (min-width: 48em) {
  .member__content {
    align-items: center;
    gap: 4rem;
  }
}
@media (min-width: 75em) {
  .member__content {
    flex-direction: column;
    align-items: start;
    gap: 2.375rem;
    padding: 2rem 2rem 4.875rem;
  }
}

/* Styles for the Member Image */
.member__img-profile {
  border: 3px solid hsl(0, 0%, 100%);
  border-radius: 50%;
}
@media (min-width: 75em) {
  .member__img-profile {
    width: 5.3125rem;
    height: 5.3125rem;
  }
}

/* Styles for the Member Card Intro */
.member__intro {
  font-weight: 300;
}

.member__label {
  font-size: 0.875rem;
  opacity: 0.5;
  letter-spacing: 0.8px;
}

.member__title {
  font-weight: inherit;
  opacity: 0.8;
}
@media (min-width: 75em) {
  .member__title {
    font-size: 2.375rem;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }
}

/* Styles for Buttons Container */
.btn--timeframes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 0.875rem 1.5rem 1.75rem;
}
@media (min-width: 75em) {
  .btn--timeframes {
    flex-direction: column;
    align-items: start;
    gap: 1.25rem;
    padding: 1.75rem;
  }
}

/* Styles for all Buttons */
.btn {
  background-color: hsl(235, 46%, 20%);
  border: transparent;
  font-size: 1.125rem;
  color: hsl(236, 100%, 87%);
  cursor: pointer;
}

.btn--timeframe {
  opacity: 0.5;
}

/* Styles for Active Button */
.btn--timeframe:hover,
.btn--timeframe:focus,
.btn--active {
  color: hsl(0, 0%, 100%);
  opacity: 1;
}

/* Styles for Cards Container */
.cards {
  display: grid;
  gap: 1.5rem;
  padding: 0;
}
@media (min-width: 48em) {
  .cards {
    display: contents;
  }
}
@media (min-width: 75em) {
  .cards {
    display: contents;
  }
}

/* Styles for individual Cards */
.card {
  border-radius: 0.9375rem;
}

.card__item {
  padding-block-start: 2.375rem;
}
@media (min-width: 75em) {
  .card__item {
    padding-block-start: 2.75rem;
  }
}

.card--work {
  background: hsl(15, 100%, 70%) url("../images/icon-work.svg") no-repeat 93% -11%;
}
@media (min-width: 75em) {
  .card--work {
    grid-area: work;
    background-position: 90% -7%;
  }
}

.card--play {
  background: hsl(195, 74%, 62%) url("../images/icon-play.svg") no-repeat 92% -7%;
}
@media (min-width: 75em) {
  .card--play {
    grid-area: play;
    background-position: 88% -3%;
  }
}

.card--study {
  background: hsl(348, 100%, 68%) url("../images/icon-study.svg") no-repeat 93% -8%;
}
@media (min-width: 75em) {
  .card--study {
    grid-area: study;
    background-position: 90% -4%;
  }
}

.card--exercise {
  background: hsl(145, 58%, 55%) url("../images/icon-exercise.svg") no-repeat 93% -1%;
}
@media (min-width: 75em) {
  .card--exercise {
    grid-area: exercise;
    background-position: 90% 0;
  }
}

.card--social {
  background: hsl(264, 64%, 52%) url("../images/icon-social.svg") no-repeat 95% -22%;
}
@media (min-width: 75em) {
  .card--social {
    grid-area: social;
    background-position: 93% -10%;
  }
}

.card--self-care {
  background: hsl(43, 84%, 65%) url("../images/icon-self-care.svg") no-repeat 94% -13%;
}
@media (min-width: 75em) {
  .card--self-care {
    grid-area: self-care;
    background-position: 92% -5%;
  }
}

/* Styles for Card Content */
.card__content {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
  padding: 1.75rem 1.5rem 1.5rem;
  background-color: hsl(235, 46%, 20%);
  border-radius: 0.9375rem;
}
@media (min-width: 75em) {
  .card__content {
    gap: 1.125rem;
    padding: 1.875rem;
  }
}

.card__type,
.card__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title a {
  text-decoration: none;
  font-size: 1.125rem;
  font-weight: 400;
}

.btn--options {
  padding-inline-end: 0;
}

.card__stats {
  letter-spacing: 0.6px;
}
@media (min-width: 75em) {
  .card__stats {
    flex-direction: column;
    align-items: start;
  }
}

.card__hrs {
  font-size: 1.875rem;
  font-weight: 300;
}
@media (min-width: 75em) {
  .card__hrs {
    font-size: 3.5rem;
    line-height: 1.4;
  }
}

.card__hrs-previous {
  font-size: 0.875rem;
  font-weight: 300;
  color: hsl(236, 100%, 87%);
}

/* Styles for active Card */
.card__content:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card__content a:focus {
  text-decoration: underline;
}

.card__content:focus-within {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card__content:focus-within a:focus {
  text-decoration: none;
}

.card__title a:focus {
  outline: none;
}