// Add flex to an element
@mixin flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Media Queries
@mixin tablet {
  @media (min-width: 48em) {
    @content;
  }
}

@mixin laptop {
  @media (min-width: 75em) {
    @content;
  }
}
