@use 'mixins' as *;
@use 'reset' as *;
@use 'variables' as *;

body {
  @include flex;

  font-family: $ff-rubik;
  color: $clr-white;
  padding: $space-2100 $space-700;
  background-color: $clr-very-dark-blue;
}

/* Hidden Page Title */
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.dashboard {
  display: grid;
  gap: $space-675;
  max-inline-size: $width-dashboard-mobile;

  @include tablet {
    max-inline-size: $width-dashboard-tablet;
    grid-template: {
      columns: repeat(auto-fit, minmax($width-card-tablet, 1fr));
      areas: 'member member' 'work play' 'study exercise' 'social self-care';
    }
    gap: $space-750;
  }

  @include laptop {
    max-inline-size: $width-dashboard-laptop;
    grid-template: {
      columns: repeat(4, 1fr);
      areas: 'member work play study' 'member exercise social self-care';
    }
    gap: $space-850;
  }
}

.member {
  background-color: $clr-dark-blue;
  border-radius: $radius-md;

  @include tablet {
    grid-area: member;
  }

  @include laptop {
    grid-area: member;
  }
}

.member__content {
  @include flex;

  padding: $space-900 $space-1100 $space-900 $space-850;
  background-color: $clr-blue;
  border-radius: $radius-md;
  gap: $space-400;

  @include laptop {
    flex-direction: column;
    align-items: start;
    gap: $space-1050;
    padding: $space-900 $space-900 $space-2050;
  }
}

.member__img-profile {
  border: 3px solid $clr-white;
  border-radius: $radius-lg;

  @include laptop {
    width: $space-2225;
    height: $space-2225;
  }
}

.member__intro {
  font-weight: $fw-light;
}

.member__label {
  font-size: $fs-300;
  opacity: $opacity-1;
  letter-spacing: 0.8px;
}

.member__title {
  font-weight: inherit;
  opacity: $opacity-2;

  @include laptop {
    font-size: $fs-1050;
    letter-spacing: 1.5px;
    line-height: 1.3;
  }
}

.btn--timeframes {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: $space-700 $space-300 $space-700 $space-800;

  @include laptop {
    flex-direction: column;
    align-items: start;
    gap: $space-600;
    padding: $space-800;
  }
}

.btn {
  background-color: $clr-dark-blue;
  border: transparent;
  font-size: $fs-500;
  color: $clr-pale-blue;
  cursor: pointer;
}

.btn--timeframe {
  opacity: $opacity-1;
}

.btn--timeframe:hover,
.btn--timeframe:focus,
.btn--active {
  color: $clr-white;
  opacity: 1;
}

.cards {
  display: grid;
  gap: $space-700;
  padding: 0;

  @include tablet {
    display: contents;
  }

  @include laptop {
    display: contents;
  }
}

.card {
  border-radius: $radius-md;
}

.card__item {
  padding-block-start: $space-1050;

  @include laptop {
    padding-block-start: $space-1300;
  }
}

.card--work {
  background: $clr-light-red-work url('../images/icon-work.svg') no-repeat 93% -11%;

  @include laptop {
    grid-area: work;
    background-position: 90% -7%;
  }
}

.card--play {
  background: $clr-soft-blue url('../images/icon-play.svg') no-repeat 92% -7%;

  @include laptop {
    grid-area: play;
    background-position: 88% -3%;
  }
}

.card--study {
  background: $clr-light-red-study url('../images/icon-study.svg') no-repeat 93% -8%;

  @include laptop {
    grid-area: study;
    background-position: 90% -4%;
  }
}

.card--exercise {
  background: $clr-lime-green url('../images/icon-exercise.svg') no-repeat 93% -1%;

  @include laptop {
    grid-area: exercise;
    background-position: 90% 0;
  }
}

.card--social {
  background: $clr-violet url('../images/icon-social.svg') no-repeat 95% -22%;

  @include laptop {
    grid-area: social;
    background-position: 93% -10%;
  }
}

.card--self-care {
  background: $clr-soft-orange url('../images/icon-self-care.svg') no-repeat 94% -13%;

  @include laptop {
    grid-area: self-care;
    background-position: 92% -5%;
  }
}

.card__content {
  display: flex;
  flex-direction: column;
  gap: $space-40;
  padding: $space-800 $space-700 $space-700;
  background-color: $clr-dark-blue;
  border-radius: $radius-md;

  @include laptop {
    gap: $space-500;
    padding: $space-850;
  }
}

.card__content:hover {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card__content a:focus {
  text-decoration: underline;
}

.card__content:focus-within {
  transform: scale(1.05);
  transition: all 0.3s;
}

.card__content:focus-within a:focus {
  text-decoration: none;
}

.card__type,
.card__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card__title a {
  text-decoration: none;
  font-size: $fs-500;
  font-weight: $fw-normal;
}

.card__title a:focus {
  outline: none;
}

.btn--options {
  padding-inline-end: 0;
}

.card__stats {
  letter-spacing: 0.6px;

  @include laptop {
    flex-direction: column;
    align-items: start;
  }
}

.card__hrs {
  font-size: $fs-850;
  font-weight: $fw-light;

  @include laptop {
    font-size: $fs-1500;
    line-height: 1.4;
  }
}

.card__hrs-previous {
  font-size: $fs-300;
  font-weight: $fw-light;
  color: $clr-pale-blue;
}
